div.story{
	background: #337AB7;
	width: 100vw;
	color: white;
	font-size: 3vh;
	text-align: center;
	padding: 3vh 0;
	border-bottom: 10vh solid #337AB7;
}

section#map, div#map{
	width: 100vw;
	height: 50vh;
	z-index: 50 !important;
}

div#geocoder-input{
	width: 100vw;
	background: orange;
}

div#geocoder-input div{
	z-index: 200;
	width: 80vw;
	margin: 3vh 10vw;
	position: relative;
}