div.story{
	background: #337AB7;
	width: 100vw;
	color: white;
	font-size: 3vh;
	text-align: center;
	padding: 3vh 0;
}

section#map, div#map{
	width: 100vw;
	height: 50vh;
	z-index: 50 !important;
}

div#geocoder-input{
	background: orange;
}

div#geocoder-input input{
	z-index: 200;
}