.hide {  
  display : none;
}

.leaflet-popup-content {
  overflow-y : hidden;
}

.note-form {
  background-color : white;
  opacity : 0.7;
  border-radius : 4px;
  padding : 4px 4px 4px 4px;
}

.note-form textarea{
  resize : none;
  overflow-y: auto;
  font-family : 'fa';
}

.note-form .fa-check-circle{
  color : green;
  float : right;
  padding : 0 .25em 0 .25em;
}

.note-form .fa-times-circle{
  color : red;
  float : right;
  padding : 0 .25em 0 .25em;
}

.btn ~ hr {
  margin: 5px 2px 5px 2px;
}

.note-tooltip div{
  width: 200px;
  background-color : white;
  color : black;
  padding: 2em;
  position : absolute;
  font-family : 'fa';
  font-size : 1em;
}
.place-tooltip div{
  background-color : gray;
  color : white;
  position : absolute;
  font-family : 'fa';
  font-size : 1.5em;
}

/*
 * The path-start class is added to each line
 * to manage its animation - this interpolates
 * between the starting and ending values for the
 * stroke-dashoffset css property
 */
/*.path-start {
  -webkit-transition:stroke-dashoffset 5s ease-in;
     -moz-transition:stroke-dashoffset 5s ease-in;
       -o-transition:stroke-dashoffset 5s ease-in;
          transition:stroke-dashoffset 5s ease-in;
}*/
