<!DOCTYPE html>
<html>
<head>
  {% block head %}
  <meta charset=utf-8 />
  <title>Geopaths Demo</title>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src='//api.mapbox.com/mapbox.js/v2.2.2/mapbox.js'></script>
  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.5/leaflet.css">-->
  <link rel="stylesheet" type="text/css" href="//cdn.leafletjs.com/leaflet/v1.0.0-beta.2/leaflet.css">
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.5/leaflet.js"></script>-->
  <script src="//cdn.leafletjs.com/leaflet/v1.0.0-beta.2/leaflet-src.js"></script>
  <script src="//libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/pelias-leaflet-geocoder.css') }}">
  <script src="{{ url_for('static', filename='js/pelias-leaflet-geocoder.js') }}"></script>
  <script src="{{ url_for('static', filename='js/L.Polyline.SnakeAnim.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <script src="//code.jquery.com/jquery-latest.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Stylish Portfolio - Start Bootstrap Theme</title>

  <!-- Bootstrap Core CSS -->
  <link href="static/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="static/css/stylish-portfolio.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  {% endblock %}
</head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
