{% extends "base.html" %}

{% block content %}

    
<!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#top"  onclick = $("#menu-close").click(); >GeoTrails</a>
            </li>
            <li>
                <a href="#map" onclick = $("#menu-close").click(); >Explore the Map</a>
            </li>
            <li>
                <a href="#add" onclick = $("#menu-close").click(); >Add your story</a>
            </li>
            <li>
                <a href="#about" onclick = $("#menu-close").click(); >About</a>
            </li>
            <li>
                <a href="#contact" onclick = $("#menu-close").click(); >Contact</a>
            </li>
        </ul>
    </nav>

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>GeoTracer:</h1>
            <h3>Interactive &amp; Crowd-Sourced Migration Map</h3>
            <br>
            <a href="#about" class="btn btn-dark btn-lg">Find Out More</a>
        </div>
    </header>

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>GeoTracer is a simple mapping project that 'connects the dots' geographically.</h2>
                    <p class="lead">Each user can submit up to four points, each representing where respective generations of their family lived. The combined map will show all entries together, creating an interactive crowd-sourced visualization of how disparate origins combine together to create a single powerful story of immigration/migration. </a>.</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- Map -->
    <section id="map" class="map">
        <div id='map' class='dark'></div>
    <br>
    
    <br>
    <p id="array-warn" style="color: red;"></p>
    <script>
      var geoj = {% autoescape false %}{{carto_geoj}}{% endautoescape %};
      var geoplaces = {{ carto_places|tojson }}; 
      var prevRowId = {{ last_row_id }};
    </script>
    <script src="{{ url_for('static', filename='js/geopaths.js') }}"></script>
    </section>
    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="services" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>Could we use this section for user submitals?</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-2 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-cloud fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Where do you live?</strong>
                                </h4>
                                <p>Our house, in the middle of our street.</p>
                                <button id="submit_button">Submit</button> 
                            </div>
                        </div>
						
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-compass fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Where did you grow up?</strong>
                                </h4>
                                <p>In west Philadelphia born and raised, On the playground was where I spent most of my days.</p>
                                <button id="submit_button2">Submit</button> 
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-flask fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Where are one of your parents from?</strong>
                                </h4>
                                <p>Who is your daddy and what does he do?</p>
                                <a href="#" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-shield fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>What about a grand-parent?</strong>
                                </h4>
                                <p>Nothing funny about grandparents. </p>
                                <a href="#" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
						<div class="col-md-2 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-shield fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>What about a grand-parent?</strong>
                                </h4>
                                <p>Nothing funny about grandparents. </p>
                                <a href="#" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- Call to Action -->
    <aside class="call-to-action bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>The buttons below are impossible to resist.</h3>
                    <a href="#" class="btn btn-lg btn-light">Click Me!</a>
                    <a href="#" class="btn btn-lg btn-dark">Look at Me!</a>
                </div>
            </div>
        </div>
    </aside>



    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    </h4>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-github fa-fw"></i> <a href="https://github.com/easherma/geotrails">https://github.com/easherma/geotrails</a></li>
                        <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="geospecialtrails@gmail.com">geospecialtrails@gmail.com</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    </script>

{% endblock %}
