{% extends "base.html" %}

{% block content %}

    
<!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#top"  onclick = $("#menu-close").click(); >GeoTrails</a>
            </li>
            <li>
                <a href="#map" onclick = $("#menu-close").click(); >Explore the Map</a>
            </li>
            <li>
                <a href="#services" onclick = $("#menu-close").click(); >How does this work?</a>
            </li>
            <li>
                <a href="#about" onclick = $("#menu-close").click(); >About</a>
            </li>
            <li class = "hidden">
                <a href="#contact" onclick = $("#menu-close").click(); >Contact</a>
            </li>
        </ul>
    </nav>
        <script>
        var title = "Where do you live?";
        document.getElementsByClassName("modal-title").innerHTML = "Where do you live?"; 
        
        </script>

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>GeoTracer:</h1>
            <h3>Interactive, Crowd-Sourced Migration Map</h3>
            <br>
			<h3>Map#: {{id}}</h3>
           <!-- <a href="#services" class="btn btn-dark btn-lg">Add Your Story!</a> -->
        </div>
    </header>
        <!-- Map -->
    <div class="story">
        <h2 id="prompt-map-additon">Where were you born?</h2>
        <center>
            <div id="geocoder-input">
                <button id="undo-map-addition">
                    &#8634;
                    <span>Undo</span>
                </button>
                <button id="submit-map-addition locked">
                    &#8594;
                    <span>Submit</span>
                </button>
                <div id="note-submission">
                    <textarea id="text-map-addition" class="invisible"></textarea>
                    <button id="note-map-addition">
                        &#8594;
                        <span>Add Note</span>
                    </button>
                </div>
            </div>
        </center>
    </div>
    <section id="map" class="map">
        <div id='map' class='dark'></div>
    <br>
    
    <br>
    <p id="array-warn" style="color: red;"></p>
    <script>
      var geoj = {{carto_geoj|tojson}};
    </script>
    <script>
      var geoplaces = {{ carto_places|tojson }}; 
    </script>
    <script>
      var prevRowId = {{ last_row_id }};
    </script>
    <script src="{{ url_for('static', filename='js/geopaths.js') }}"></script>
    <script src="{{ url_for('static', filename='js/map-ui-scripts.js') }}"></script>
    </section>
    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<div>
<!--<button type="button" class="btn btn-lg btn-dark" data-toggle="modal" data-target="#myModal" data-backdrop="false">Add My Story!</button>-->

<div class="modal" id="myModal">
	<div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Modal title</h4>
        </div><div class="container"></div>
        <div class="modal-body" id='input'>
          <div class="container" id="form">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="inputfield1" class="col-sm-2 control-label">Input 1</label>
            <div class="col-sm-10" id="input">
              
            </div>
          </div>
          
          <div class="form-group">
            <label for="inputfield2" class="col-sm-2 control-label">Input 2</label>
            <div class="col-sm-10 controls">
              <div class="input-group">
                <input type="text" class="form-control" id="inputfield2" placeholder="Input 2">
                <span class="input-group-addon">.00</span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="inputfield3" class="col-sm-2 control-label">Input 3</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputfield3" placeholder="Input 3">
            </div>
          </div>      
        </form>
    </div>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal2">Open Modal</button>
        </div>
        <div class="modal-footer">
          <a href="#" data-dismiss="modal" class="btn">Close</a>
          <a href="#" class="btn btn-primary">Save changes</a>
        </div>
      </div>
    </div>
</div>
</div>

    <section id="services" class="services bg-primary">
    
            <div class="row text-left">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>How to add and trace your story:</h2>
					<span class="lead"> 
                    
<ol><li>Submit up to five locations that describe several generations of your family, beginning with you and where you currently live.</li>
<li>You'll need to submit at least two points.</li>
<li>Each location should be significant to that generation: a birthplace, where they lived for a long time, or identify strongly with that place for any reason.</li> 
<li>Add an optional note about you or your trace, for others to see.</li>
</ol>
<p>Once you submit your locations, we'll trace them on the map, where you can also see other people's family histories.</p></span>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- Call to Action -->
    <aside class="call-to-action bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <a href="#map" class="btn btn-lg btn-light">Add Your Story!</a>
                    <a href="#signup" class="btn btn-lg btn-dark">Stay In Touch!</a> 
                </div>
            </div>
        </div>
    </aside>


    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row text center">
                <div class="col-lg-5 col-lg-offset-1 text-center">
					<h2>About:</h2>
					<hr class="small">
                    <p class = "lead">GeoTracer is a mapping project that 'connects the dots' of your family's geographic history.[content about migration, hack night project, etc etc]co</p>

                </div>
                <div class="col-lg-5 col-lg-offset-1 text-center">
                            <iframe id='signup' src="https://docs.google.com/forms/d/1JYwnBkVeSqjPiL-HYAwGIjs1RL285Aiy5mJVAoQbllM/viewform?embedded=true" width="100%" height="465" frameborder="0" marginheight="0" marginwidth="0" scrolling="no">Loading...</iframe> 
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>


    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    </h4>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-github fa-fw"></i> <a href="https://github.com/easherma/geotrails">https://github.com/easherma/geotrails</a></li>
                        <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="geospecialtrails@gmail.com">geospecialtrails@gmail.com</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>
    <!-- teh googles -->
    <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
	  ga('create', 'UA-69806703-1', 'auto');
	  ga('send', 'pageview');
	</script>

    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    </script>

{% endblock %}
